@media screen and (max-width: 600px) {
  .deskdesk {
    display: none !important;
  }
  .mobimobi {
    display: block !important;
  }
}

.sumir{
  display: none !important;
}
 
 
.deskdesk {
  display: block;
}
.mobimobi {
  display: none;
}

.barraCompraMobile {
  width: 70vw;
  filter: brightness(0.95);
}
.barraCompraMobile:hover {
  filter: brightness(1);
}

.mobiDesk { 
 
  position: fixed !important;
  z-index: 1000 !important;
  left: 50vw !important;
  transform: translate(-50%, 0) !important;
  bottom: 30px !important;
  cursor: pointer !important;
}

.barraCompraDesk {
  max-width: 1800px;
  width: 90vw;
  filter: brightness(0.95);
}
.barraCompraDesk:hover {
  filter: brightness(1);
}
