@media screen and (max-width: 790px) {
  .pCarouselDepoimentosTela1 {
    font-size: 25px !important;
    line-height: 30px !important;
    margin-top: 30px !important;
  }
  .pCarouselDepoimentosTela2 {
    font-size: 14px !important;
    line-height: 20px !important;
    margin-bottom: 50px !important;
  }
}

.imgHorizontalCarousel {
  max-width:1000px;
  width: 80vw; 
  pointer-events: none;
}

.pCarouselDepoimentosTela1 {
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  color: #c2c2c2;
  margin-top: 100px;
  max-width: 1000px;
  padding: 30px;
  font-weight: 700;
}

.pCarouselDepoimentosTela2 {
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  color: #6d7b82;
  margin-top: 20px;
  margin-bottom: 100px;
  max-width: 1000px;
  padding: 0 30px;
}
