@media screen and (max-width: 1280px) {
  .p11-1 {
    font-size: 30px !important;

    line-height: 30px !important;
  }
}
@media screen and (max-width: 1320px) {
  .div11 {
    flex-direction: column !important;
    align-items: center !important;
  }
  .divBtGrade {
    max-width: 100% !important;
    min-width: 355px !important;
  }
  .bt11 {
    font-size: 20px !important;
  }
  .menuTitulo {
    padding: 5px 7px !important;
  }
  .tituloDrop {
    font-size: 12px !important;
  }
  .menuTodo {
    max-width: 685px !important;
    min-width: 200px !important;
  }
  .div11 {
    width: 95% !important;
  }
}

.div11Content {
  max-width: 685px;
  padding: 30px;
}

.div11 {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 80%;
}

.menuTodo {
  max-width: 685px;
  min-width: 600px;
  width: 100%;
  height: 100%;
  height: 550px;
  padding: 30px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuTitulo p {
  margin: 0;
}
.menuTitulo {
  display: flex;
  align-items: center;
  margin: 0;
  margin: 5px 0 0 0;
  color: #c2c2c2;
  border: solid #c2c2c2 2px;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 10px;
  max-width: 650px;
  width: 100%;
  padding: 10px 5px;
  cursor: pointer;
  margin: 10px 0;
}

.menuConteudo {
  display: flex;
  align-items: center;
  margin: 0;
  margin: 5px 0 0 0;
  color: #c2c2c2;
  border: solid #c2c2c2 2px;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 10px;
  max-width: 650px;
  width: 100%;
  padding: 10px 5px;
  cursor: pointer;
  margin: 10px 0;
  background-color: #a9afb629;
}

.plus {
  font-size: 15px !important;
  margin: 0 15px;
  color: #91ff00;
  transition: transform 0.3s;
}

.plusActive {
  transform: rotate(135deg);
}

.p11-1 {
  text-align: left;
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  color: #c2c2c2;
  max-width: 624px;
  margin-bottom: 40px;
}
.p11-2 {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #a9afb6;
  max-width: 450px;
  margin-bottom: 40px;
}
.divBtGrade {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #91ff00;
  opacity: 1;
  max-width: 500px;
  min-width: 445px;
  padding: 20px 0;
  cursor: pointer;
}

.bt11 {
  font-size: 27px;
  font-weight: 700;
  color: #212531;
  margin-bottom: 30px;
}
