@media screen and (max-width: 1380px) {
  .pCarouselVideos1 {
    font-size: 30px !important;
    margin-top: 70px !important;
    max-width: 900px !important;
    margin: 0px 0 0 0 !important;
    padding: 0;
  }
  .containerCarousel {
    margin-top: 40px !important;
  }
}
@media screen and (max-width: 650px) {
  .pCarouselVideos1 {
    font-size: 23px !important;
    line-height: 30px !important;
    margin-top: 0px !important;
  }
  .containerCarousel {
    margin-top: 20px !important;
  }
}

.divCarousel0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  max-width: 1920px;
  width: 100%;
  position: relative;
}

.divCarousel1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(#7e52ff 50%, #242834 50%);
  width: 100%;
}
.pCarouselVideos1 {
  text-align: center;
  font-size: 48px;
  padding: 30px;
  color: #ffffff;
  max-width: 880px;
  margin-top: 70px;
}

.carousel .control-dots .dot.selected {
  background-color: #7e52ff !important;
  border: 3px solid #7e52ff !important;
}
.carousel .control-dots .dot {
  width: 15px !important;
  height: 15px !important;
  background-color: transparent !important;
  border: 3px solid #7e52ff !important;
}
.control-dots {
  position: absolute;
  bottom: -50px;
}

.containerCarousel {
  max-width: 1030px;
  width: 100%;

  margin-top: 60px;
  margin-bottom: 50px;
  padding: 20px;
}

.CarouselRes {
  display: flex;
  justify-content: center;
  padding-top: 56.25%;
  position: relative;
  border-radius: 15px !important;
  width: 100%;
}
.CarouselRes iframe {
  width: 100% !important;
  padding: 0 0 50px 20px;
  height: 100%;
  position: absolute;
  top: 0px;
}
